@import url(https://fonts.googleapis.com/css?family=Muli);
* {
    box-sizing: border-box;
}
[class*="col-md-"] {
    padding: 0.5em 0.5em 0.5em 0.5em;
}
html, body {
    font-family: 'Muli', sans-serif;
    width: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #DCEEF4;
    overflow-x: hidden;
    color: #222;
}
.nav>li>a {
 color: #000;
}
.tab-content {
    min-height: 10em;
    padding: 0.25em
}
.about-box {
    background-image: url(img/about.jpg);
    background-size: cover;
}
.about-box > .navbox-tab {
    background-color: #DB84F1;
}
.acrostic {
    width: 60%;
    margin: auto;
}
.acrostic-initial {
  font-size: 1.6em;
  font-weight: 900;
  padding: 0.1em 0.2em 0.1em 0.1em;
}
.affil {
    text-align: center;
    margin-top: 3em;
    background: #ffffff;
    border-radius: 15px;
}
.affil img {
    padding: 0.75em;
}
.banner {
    background-color: #2BC2FC;
    background-position: 50% 10%;
}
.banner .container {
    padding: 0;
}
.btn {
    background: linear-gradient(to bottom right, #f8f8f8, #b8d8de);
    font-weight: 900;
}
.copyr {
    text-align: left;
}
.copyr > p {
    margin: 0;
    padding: 0.2em 0 0.2em 0.7em;
    font-size: 0.8em;
}
.classes-box {
    background-image: url(img/classes.jpg);
    background-size: cover;
}
.classes-box .navbox-tab{
    background-color: #2BC2FC;
}
.classes-content {
    padding: 0.25em 0 0em 0.5em;
    text-align: justify;
}
.classes-content > h2 {
    margin: 0 0 0.5em 0;
}
.classes-content > p {
    font-size: 0.9em;
}
.contact-box {
    background-image: url(img/contact.jpg);
    background-size: cover;
}
.contact-box .navbox-tab {
    background-color: #FF9522;
}
.contacts {
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 22px;
    margin-bottom: 0.7em;
    margin-left: 0.7em;
    color: #000000;
}
.content-classes {
    padding: 0 0.5em 0 0;
    text-align: justify;
}
.footer {
    background-color: #26ace0;
    margin: 2em 0 0 0;
}
.footer a {
    color: #222;
}
.footer ul {
    list-style: none;
    padding: 0;
}
.fb-container {
    text-align: center;
    padding: 1em 0 0 0;
}
.link-boxes {
    padding: 0em 0.5em 0.5em 0.5em;
    display: none;
}
.link-boxes a {
    text-decoration: none;
    color: #000000;
}
.logo {
    text-align: center;
    padding: 0;
}
.logo img {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 0 0 15px 15px;
}
.map {
    width: 100%;
    text-align: center;
}
.main {
    padding: 1em 0 2em 0;
}
.mid-content {
    min-height: 682px;
    height: 682px;
    margin: 0 0 1em 0;
    overflow: auto;
    border-radius: 5px;
}
.mid-banner {
    color: #ffffff;
    background-image: url(img/midbanner.jpg);
    background-position: 60% 25%;
    background-size: cover;
    padding: 3em 1.2em;
    width: 100%;
}
.mid-banner p {
    font-size: 1.8em;
    padding: 0em;
    margin: 0em;
}
.mid-banner h3 {
    font-size: 4em;
    font-weight: 600;
    padding: 0em;
    margin: 0em;
}
.mid-about {
    background-color: #DB84F1;
    padding: 0.5em;

}
.mid-about > .container {
    color: #000000;
    padding: 0.5em 0.25em 0.25em 0.5em;
}
.mid-about a {
    color: #000;
}
.mid-about h2 {
    margin: 0em;
}
.mid-about p {
    font-size: 0.9em;
    text-align: justify;
}
.mid-about .mid-about-pics {
    text-align: center;
}
.mid-about .mid-about-pics > img {
    padding: 0.25em 0 0.25em 0;
}
.mid-contact {
    background-color: #FF9522;
    padding: 0.5em;
}
.mid-contact a {
    color: #000000;
}
.mid-contact h2 {
    margin: 0em;
}
.mid-classes {
    background-color: #2BC2FC;
    padding: 0.5em;
}
.mid-classes-pics {
    text-align: center;
    margin-top: 1em;
}
.mid-classes-pics img {
    padding: 0.5em;
}

.mid-staff {
    background-color: #E2FA00;
    padding: 0.5em;
}
.menu-classes {
    padding: 0.25em 0.5em 0 0.25em;
}
.menu-classes > ul {
    list-style: none;
    padding: 0;
    margin: 1em 0 0 0;
    font-size: 0.75em;
}
.menu-classes > ul > li {
    padding: 0.75em 0 0.75em 0.5em;
}
.menu-classes > ul > li:hover{
    padding: 0.75em 0 0.75em 0;
    background-color: #ffffff;
}
.navbox {
    height: 160px;
    margin: 0em 1em 1em 0.5em;
    border-radius: 7px;
}
.navbox:hover div {
    width: 125px;
}
.navbox:hover p {
    visibility: visible;
    opacity: 1;
}
.navbox-tab {
    width: 50px;
    height: 100%;
    transition: width 1s;
    border-radius: 5px;
}
.navbox-tab h2 {
    color: #000;
    transform-origin: 0px 0px;
    -webkit-transform-origin: 0px 0px;
    transform: rotate(-90deg) translate(-150px);
    -webkit-transform: rotate(-90deg) translate(-150px);
    font-size: 2.4em;
    float: left;
    margin: 0px;
    padding: 5px 0 0 0;
    font-weight: 600;
}
.navbox-tab p {
    position: relative;
    top: -15px;
    float: right;
    text-align: center;
    width: 80px;
    height: 100px;
    font-size: 0.75em;
    color: #000;
    visibility: hidden;
    opacity: 0;
    padding: 0.5em;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    border-left: 1px solid #000000;
}
.quicknav {
    min-height: 1em;
    margin: 0.5em auto 0 auto;
    padding: 0 0 1em 0;
    text-align: center;
}
.quicknav ul {
    font-weight: bold;
    color: #ffffff;
    list-style: none;
    margin: 0;
    padding: 0.5em;
}
.quicknav ul li {
    padding-left: 1.1em;
    font-size: 1.0em;
    font-weight: 900;
    display: inline;
}
.quicknav a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}
.quicknav a:hover {
    color: #DCEEF4;
    text-decoration: underline;
}
.sign-up {
    text-align: center;
    padding: 1em;
}
.staff-box {
    background-image: url(img/staff.jpg);
    background-size: cover;
}
.staff-box .navbox-tab {
    background-color: #E2FA00;
}
.staff-content {
  overflow-y: auto;
}
.staff-tabs {
    text-align: center;
}
.staff-tabs img {
    border-radius: 5px;
}
.table {
    margin: 0 0 0.5em 0;
}
.tdates {
    color: #ffffff;
    background-color: #FC2883;
    width: 100%;
    min-height: 285px;
    padding: 0em 0.25em 0em 0.75em;
    font-size: 0.85em;
    border-radius: 5px;
}

.tdates > p {
    margin: 0px;
}

.tdates > h3 {
    margin: 0;
    padding: 0.25em 0 0.25em 0;
}

.tdates ul {
    margin: 0;
    padding: 0.25em 0em 0.25em 0em;
    list-style: none;
}
.tdates li {

    padding: 0em 0em 0.25em 0em;
}



@media only screen and (min-width: 768px) {

    .banner {
        height: 100px;
        margin: 0 0 2.5em 0;
    }
    .copyr {
        text-align: right;
    }
    .logo {
        float: right;
        text-align: right;
    }

    .quicknav {
        text-align: left;
    }
}
